<h1>Mapa simples</h1>
<p>Utilizando marcadores</p>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>


<h2>Footer</h2>
<% @lat = -19.916681 %>
<% @lat2 = -19.7 %>
<% @log = -43.934493 %>

<script source="javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers([
    {
      "lat": <%= @lat %>,
      "lng": <%= @log %>,
      "infowindow": "hello!"
    },
    {
      "lat": <%= @lat2 %>,
      "lng": <%= @log %>,
      "infowindow": "hello!"
    }
  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>
